<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1>Show user</h1>

      <h2><%= @user.first_name %></h2>

      <% if @user == @current_user %>

      <h3><%= @user.email %></h3>
      <h4><%= @user.provider %></h4>

      <% if @friends_array.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Friend</th>
          </tr>
        </thead>
        <tbody>
          <% @friends_array.each do |friend| %>
            <tr>
              <td><%= link_to friend.first_name, friend %></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <% end %>

  <% end %>

    </div>
  </div>
</div>