<% imgUrl = "http://is5.mzstatic.com/image/pf/us/r30/Music/ed/a9/dd/mzi.sjokdaqw.jpg" %>
<% songUrl = "http://a897.phobos.apple.com/us/r30/Music/v4/ab/f2/99/abf29917-e0a3-0d6c-a59e-f3564b16ae99/mzaf_618333300129169864.plus.aac.p.m4a" %>

<style>
  body {
    background: none;
  }
  .background:before {
    background: url(<%= imgUrl %>);
  }
</style>

<div class="background">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <script>
          audiojs.events.ready(function() {
            var as = audiojs.createAll();
          });
        </script>



        <div id="player" class="col-sm-6 text-center">
          <img src="<%= imgUrl %>">
          <audio src="<%= songUrl %>" preload="auto" />
          </div>

    <!-- Quiz  -->
        <div id="slickQuiz">
        <h1 class="quizName col-sm-6"><!-- where the quiz name goes --></h1>

          <div class="quizArea">
            <div class="quizHeader">
                <!-- where the quiz main copy goes -->

                <!-- <input class="btn btn-success startQuiz" type='submit' value="Add to Favorites">Get Started!</input> -->
                <input  class="btn button startQuiz" type='submit' value="Quiz me">


              </div>

            <!-- where the quiz gets built -->
        </div>

            <div class="col-sm-6 col-sm-offset-3 quizResults">
            <h3 class="quizScore">You Scored: <span><!-- where the quiz score goes --></span></h3>

            <h3 class="quizLevel"><strong>Ranking:</strong> <span><!-- where the quiz ranking level goes --></span></h3>

              <div class="quizResultsCopy">
                <!-- where the quiz result copy goes -->
              </div>
            </div>
          </div>

  <!-- Quiz -->


        </div>
      </div>
    </div>


  </div>