<% imgUrl = "http://is5.mzstatic.com/image/pf/us/r30/Music/ed/a9/dd/mzi.sjokdaqw.jpg" %>
<% songUrl = "https://p.scdn.co/mp3-preview/4d87e14360013e3154679d43180714b73be10c9c" %>

<style>
  body {
    background: none;
  }
  .background:before {
    background: url(<%= imgUrl %>);
  }
</style>

<div class="background">

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <script>
          audiojs.events.ready(function() {
            var as = audiojs.createAll();
          });
        </script>


        <div id="player" class="col-sm-8 col-sm-offset-2 text-center">
          <img src="<%= imgUrl %>">
          <audio src="<%= songUrl %>" preload="auto" />
          </div>

        </div>
      </div>
    </div>
  </div>