<div class="modal-header text-center">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">How to Play</h4>
</div>
<div class="modal-body">
  <p class="how-to">1. Click <strong>Start Quiz</strong> to test your knowledge of any music genre. Or else log in and choose your genre preferences in <strong>Dashboard <i class='fa fa-long-arrow-right fa-fw'></i> Genres / Profile</strong>.</p>
  <p class="how-to">2. For each track, you will be asked to name the artist, album, and track title.</p>
  <p class="how-to">3. After each quiz, you can save the song to your favorites, stored in <strong>Dashboard <i class='fa fa-long-arrow-right fa-fw'></i>Listen List</strong>. Or just skip to the next one.</p>
  <p class="how-to">Check the <strong>Leaderboards</strong> to compare yourself to the top-ranked players. Or login through Facebook and compare yourself to your friends in <strong>Dashboard <i class='fa fa-long-arrow-right fa-fw'></i> Friends</strong>.</p>
  <p class="how-to">For each correct answer, you gain three trophies. But be careful&mdash;for each incorrect guess, you also lose one!</p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
