<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">How to Play Aptitune</h4>
</div>
<div class="modal-body">
<p>1. Click 'Start Quiz' in the left corner. To specify the genres of music you want to explore, sign up / log in, then go to your Dashboard.</p>
<p>2. You will be prompted with 3 questions. Click the box you think answers the question best.</p>
<p>3. After your cool quiz, you can add the song to your Listen Later list or skip ahead to the next quiz.</p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
