<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">How to Play</h4>
</div>
<div class="modal-body">
  <p class="how-to">1. Click <strong>Start Quiz</strong> to begin playing.</p>
  <p class="how-to">(To focus on the styles of music you're exploring, log in and update your genre preferences in <strong>Dashboard <i class='fa fa-long-arrow-right fa-fw'></i> Genre / Profile</strong>.)</p>
  <p class="how-to">2. For each track, there are three questions; click the button </p>
  <p class="how-to">3. After your cool quiz, you can add the song to your favorites in <strong>Dashboard <i class='fa fa-long-arrow-right fa-fw'></i>Listen List</strong>, or skip to the next quiz.</p>
  <p class="how-to">Check the <strong>Leaderboard</strong> to compare yourself to the top-ranked players. Or login through Facebook and compare yourself to your friends in <strong>Dashboard <i class='fa fa-long-arrow-right fa-fw'></i> Friends</strong>.</p>
  <p class="how-to">For each correct answer, you gain three trophies. For each incorrect answer, you lose one trophy.</p>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
