<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <h1>Leaderboard</h1>

    </div>
  </div>

  <div class="row">

    <% @genre_hashes.each do |genre_hash| %>
      <div class="col-sm-2">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>genre</th>
              <th>artist %</th>
              <th>album %</th>
              <th>track %</th>
              <th>total quizzes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= genre_hash[:genre_name] %></td>
              <% (0...genre_hash[:total_percentages]).each do |i| %>
                <th><%= genre_hash %></th>
              <% end %>

            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>