
<div class='container'>
  <div class="row">
    <h1 class="team">Meet the Team</h1>
    <div id='blurry'>
      <div class="col-sm-3 about">
        <img src="/assets/patrick.jpg" alt="Patrick" id='teamPic'>
        <center>
          <h2 class="about">Patrick Eldridge</h2>
          <h3 class="about">Developer</h3>
        </center>
        <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt.</p>
      </div>
      <div class="col-sm-3 about">
        <center>
          <img src="/assets/bennett.jpg" alt="Bennett" id='teamPic'>
          <h2 class="about">Bennett Lin</h2>
          <h3 class="about">Developer / Git Master</h3>
        </center>
        <p class="about">Bennett has two years of combined experience as a full-stack Web and iOS developer, with a background in music theory and composition.</p>
      </div>

      <div class="col-sm-3 about">
        <center>
          <img src="/assets/allie.jpg" alt="Allie" id='teamPic'>
          <h2 class="about">Allie Moses</h2>
          <h3 class="about">Developer</h3>
        </center>
        <p class="about">Allie is a full-stack web developer. Allie's passions include coding, traveling, the outdoors, animals and music.</p>
      </div>
      <div class="col-sm-3 about">
        <center>
          <img src="/assets/tina.jpg" alt="Tina" id='teamPic'>
          <h2 class="about">Daniel Smith</h2>
          <h3 class="about">Developer / PM</h3>
        </center>
        <p class="about">TINA</p>
      </div>
    </div>
  </div>
</div>
</div>