<style>
  body {
    /*background-image: none;*/
    /*background-color: #dfdfdf;*/
  }
</style>

<div class="container">
  <div class="row">
      <h1 class="team">Meet the Team</h1>

        <div class="col-sm-3 about">
          <center>
            <h2 class="about">Patrick Eldridge</h2>
            <h3 class="about">Developer</h3>
          </center>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
        </div>
        <div class="col-sm-3 about">
          <center>
            <h2 class="about">Bennett Lin</h2>
            <h3 class="about">Developer / Git Master</h3>
          </center>
          <p class="about">Bennett has two years of combined experience as a full-stack Web and iOS developer, with a background in music theory and composition.</p>
        </div>
        <div class="col-sm-3 about">
          <center>
            <h2 class="about">Allie Moses</h2>
            <h3 class="about">Developer</h3>
          </center>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
        </div>
        <div class="col-sm-3 about">
          <center>
            <h2 class="about">Daniel Smith</h2>
            <h3 class="about">Developer / Product Manager</h3>
          </center>
          <p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor./TINA</p>
        </div>

    </div>
  </div>
</div>