      <div class='container'>
        <div id="about">
          <div class="row">
            <h1 class="team">Meet the Team</h1>
            <div class="col-sm-3 about">
              <center>
                <img src="/assets/patrick.jpg" alt="Patrick" id='teamPic' class="img-responsive">
                <h2 class="about">Patrick Eldridge</h2>
                <h3 class="about">Developer</h3>
                <p class="about">Patrick is a life-long musician turned full-stack web developer with a B.B.A. in Entrepreneurship. Technology has his mind. Music has his heart.
                </p>
                <h2>
                  <a href="http://www.patrickeldridge.com" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
                  <a href="" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
                  <a href="" target="_blank"><i class="fa fa-github-square"></i></a>
                </h2>
              </center>
            </div>
            <div class="col-sm-3 about">
              <center>
                <img src="/assets/bennett.jpg" alt="Bennett" id='teamPic' class="img-responsive">
                <h2 class="about">Bennett Lin</h2>
                <h3 class="about">Developer / Git Master</h3>
                <p class="about">Bennett has two years of combined experience as a full-stack Web and iOS developer, with a background in music theory and composition.</p>
                <h2>
                  <a href="" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
                  <a href="" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
                  <a href="" target="_blank"><i class="fa fa-github-square"></i></a>
                </h2>
              </center>
            </div>

            <div class="col-sm-3 about">
              <center>
                <img src="/assets/allie.jpg" alt="Allie" id='teamPic' class="img-responsive">
                <h2 class="about">Allie Moses</h2>
                <h3 class="about">Developer</h3>
                <p class="about">Allie is a full-stack web developer. Allie's passions include coding, traveling, the outdoors, animals and music.</p>
                <h2>
                  <a href="" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
                  <a href="" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
                  <a href="" target="_blank"><i class="fa fa-github-square"></i></a>
                </h2>
              </center>
            </div>
            <div class="col-sm-3 about">
              <center>
                <img src="/assets/daniel.jpg" alt="Tina" id='teamPic' class="img-responsive">
                <h2 class="about">Daniel Smith</h2>
                <h3 class="about">Developer / Product Manager</h3>
                <p class="about">As a collegiately-trained musician, Daniel solves both technical and artistic problems through innovation, creativity, and persistent focus. Leveraging those strengths into his passion for technology and design, he strives to create elegant applications with both substance and flash.</p>
                <h2>
                  <a href="" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
                  <a href="" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
                  <a href="" target="_blank"><i class="fa fa-github-square"></i></a>
                </h2>
              </center>
            </div>
          </div>
        </div>
      </div>