<div class='container'>
  <div id="about">
    <div class="row">
      <h1 class="team">Meet the Team</h1>
      <div class="col-sm-3 about">
        <center>
          <img src="/assets/patrick.jpg" alt="Patrick" id='teamPic' class="img-responsive">
        </center>
        <h2 class="about">Patrick Eldridge
          <small><a href="http://www.patrickeldridge.com" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
            <a href="https://www.linkedin.com/in/thepateldridge" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
            <a href="" target="_blank"><i class="fa fa-github-square"></i></a></small></h2>
            <h3 class="about">Developer</h3>
            <p class="about">Patrick is a life-long musician turned full-stack web developer with a B.B.A. in Entrepreneurship. Technology has his mind. Music has his heart.
            </p>
            <h2>
            </h2>
          </div>
          <div class="col-sm-3 about">
            <center>
              <img src="/assets/bennett.jpg" alt="Bennett" id='teamPic' class="img-responsive">
            </center>
            <h2 class="about">Bennett Lin
              <small><a href="http://bennettslin.com/" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
                <a href="https://www.linkedin.com/in/bennettslin" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
                <a href="https://github.com/bennettslin" target="_blank"><i class="fa fa-github-square"></i></a></small></h2>
                <h3 class="about">Developer / Git Master</h3>
                <p class="about">Bennett has two years of combined experience as a full-stack Web and iOS developer, with a background in music theory and composition. He is looking for full-time opportunities in the Greater Seattle or Greater Los Angeles metropolitan areas.</p>
              </div>

              <div class="col-sm-3 about">
                <center>
                  <img src="/assets/allie.jpg" alt="Allie" id='teamPic' class="img-responsive">
                </center>
                <h2 class="about">Allie Moses
                  <small><a href="" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
                    <a href="https://www.linkedin.com/in/" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
                    <a href="" target="_blank"><i class="fa fa-github-square"></i></a></small></h2>
                    <h3 class="about">Developer</h3>
                    <p class="about">Allie is a full-stack web developer. She's combining her business background and love for technology by pursuing a career in web development. When she's not coding, Allie is traveling, exploring the outdoors, playing with animals or jamming to music.</p>

                  </div>
                  <div class="col-sm-3 about">
                    <center>
                      <img src="/assets/daniel.jpg" alt="Tina" id='teamPic' class="img-responsive">
                    </center>
                    <h2 class="about">Daniel Smith
                      <small><a href="http://www.danielpsmith.com" target="_blank"><i class="fa fa-link"></i></a>&nbsp;
                        <a href="https://www.linkedin.com/in/danielpsmith4" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
                        <a href="https://github.com/smithdp60" target="_blank"><i class="fa fa-github-square"></i></a></small></h2>
                        <h3 class="about">Developer / Product Manager</h3>
                        <p class="about">As a collegiately-trained musician, Daniel solves both technical and artistic problems through innovation, creativity, and persistent focus. Leveraging those strengths into his passion for technology and design, he strives to create elegant applications with both substance and flash.</p>
                      </div>
                    </div>
                  </div>
                </div>