
<div class='container'>
  <div class="row">

    <h1 class="team">Meet the Team</h1>
    <div id='blurry'>
      <div class="col-sm-3 about">
        <img src="/assets/patrick.jpg" alt="Patrick" id='teamPic'>
        <center>
          <a href="http://www.patrickeldridge.cohttp://bennettslin.com/"><h2 class="about">Patrick Eldridge&nbsp;<i class="glyphicon glyphicon-new-window"></i></h2></a>
          <h3 class="about">Developer</h3>
        </center>
        <p class="about">Patrick is a life-long musician turned full-stack web developer with a B.B.A. in Entrepreneurship. Technology has his mind. Music has his heart.</p>
      </div>
      <div class="col-sm-3 about">
        <center>
          <img src="/assets/bennett.jpg" alt="Bennett" id='teamPic'>
          <a href="http://bennettslin.com/"><h2 class="about">Bennett Lin&nbsp;<i class="glyphicon glyphicon-new-window"></i></h2></a>
          <h3 class="about">Developer / Gitmaster</h3>
        </center>
        <p class="about">Bennett has two years of combined experience as a full-stack Web and iOS developer, with a background in music theory and composition.</p>
      </div>

      <div class="col-sm-3 about">
        <center>
          <img src="/assets/allie.jpg" alt="Allie" id='teamPic'>
          <a href="http://bennettslin.com/"><h2 class="about">Allie Moses&nbsp;<i class="glyphicon glyphicon-new-window"></i></h2></a>
          <h3 class="about">Developer</h3>
        </center>
        <p class="about">Allie is a full-stack web developer. Allie's passions include coding, traveling, the outdoors, animals and music.</p>
      </div>
      <div class="col-sm-3 about">
        <center>
          <img src="/assets/tina.jpg" alt="Tina" id='teamPic'>
          <a href="http://bennettslin.com/"><h2 class="about">Daniel Smith&nbsp;<i class="glyphicon glyphicon-new-window"></i></h2></a>
          <h3 class="about">Developer / PM</h3>
        </center>
        <p class="about">TINA</p>
      </div>
    </div>
  </div>
</div>
</div>