body {
  background-image: image-url("crowd.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Questrial', sans-serif;
  padding-top: 70px;
  background-color: black;
}

h1, h2, h3, th {
  color: black;
  font-weight: 400;
}

nav.navbar.navbar-default {
  opacity: 1;
  border-radius: 0;
  background-color: #ffffff;
  border-color: #111111;
  border-width: 0 0 1px;
  z-index: 1;
  box-shadow: 0 0 40px rgba(17,17,17,.5);
  padding: 0 17px 5px 0;
}

nav.navbar.navbar-default a {
  color: #555555;
  margin-top: 6px;
}

.btn.btn-primary {
  background-color: #c60b15;
}
.btn.btn-primary:hover {
  background-color: #B20912;
}

// LEFT DROPDOWN
div.navbar-header.dropdown.open ul.dropdown-menu {
  margin-top: 5px;
  padding-top: 0;
  border-radius: 0 0 4px 4px
}
div.navbar-header.dropdown.open ul.dropdown-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
}
// RIGHT DROPDOWN
li.dropdown.open ul.dropdown-menu {
  margin-top: 5px;
  padding-top: 0;
}
li.dropdown ul.dropdown-menu li a {
  padding-top: 10px;
  padding-bottom: 10px;
}
///////////////

nav.navbar.navbar-default a:hover {
  color: #c60b15;
}

nav.navbar.navbar-default a:active {
  color: #333333;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #ffffff;
}


.admin-only {
  // visibility: hidden;
  background-color: #bbbbbb;
  color: #000000;
}

.dashboard-tabs {
  margin: 0px 5px;
  border-bottom: 0px;
}

#logo {
  width: 106px;
  margin-right: 5px;
  margin-top: 0px;
}

#logotext {
  font-weight: normal;
  font-size: 14em;
  color: #030303;
  text-shadow: 0 0 30px #efefef;
  margin-top: 30px;
}

nav.navbar.navbar-default a.navbar-brand {
  font-size: 2.5em;
  color: #030303;
  font-weight: 600;
}
nav.navbar.navbar-default a.navbar-brand:hover {
  color: #c60b15;

}

// .Modal-body3
// {
//     width: 900px;

// }

// .Modal-body3 .modal-body {
//     height: 700px;
// }

.modal-body
{
   max-height:80%;
}
.modal
{
   height:80%;
   width:70%;
   margin-left: -35%;
}
   .modal
   {
    width:90%;
        margin-left: 2%;
   }


