body {
  background-image: image-url("crowd.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Questrial', sans-serif;
  padding-top: 70px;
  background-color: black;
}

h1, h2, h3, th {
  color: white;
  font-weight: 400;
}

nav.navbar.navbar-default {
  opacity: 1;
  border-radius: 0;
  background-color: #ffffff;
  border-color: #efefef;
  border-width: 0 0 5px;
  padding-right: 15px;
  z-index: 1;
}

nav.navbar.navbar-default a {
  color: #555555;
  padding-top: 18px;
}

nav.navbar.navbar-default a:hover {
  color: #000000;
}

nav.navbar.navbar-default a:active {
  color: #333333;
}

.admin-only {
  background-color: #bbbbbb;
  color: #000000;
}

.dashboard-tabs {
  margin: 0px 5px;
  border-bottom: 0px;
}

#logo {
  width: 106px;
  margin-right: 5px;
  margin-top: 0px;
}

#logotext {
  font-weight: normal;
  font-size: 14em;
  color: #030303;
  text-shadow: 0 0 30px #efefef;
  margin-top: 30px;
}

nav.navbar.navbar-default a.navbar-brand {
  font-size: 2.4em;
  color: #030303;
  font-weight: 400;
}