body {
  background-image: image-url("crowd.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1, h2, h3, th {
  color: white;
}

nav.navbar.navbar-default {
  opacity: .9;
  border-radius: 0;
  background-color: #ffffff;
  border-color: #efefef;
  border-width: 0 0 5px;
}

nav.navbar.navbar-default a {
  color: #555555;
  padding-top: 18px;
}

nav.navbar.navbar-default a:hover {
  color: #000000;
}

nav.navbar.navbar-default a:active {
  color: #333333;
}

.admin-only {
  background-color: #ffaaaa;
  color: #aa0000;
}

.forgot-password {
  float: left;
}