// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leaderboard-me {
  background-color: #ccc;
}

.leaderboard-leaders {
  background-color: #eee;
}

.leaderboard-average {
  background-color: #aaa;
}

.div-balls {
  text-align: center;
  font-size: 1.25em;
}

.colour-key ul li {
  display: inline;
}

li.colour-alternative {
  color: rgb(214, 39, 40);
}

li.colour-blues {
  color: rgb(255, 127, 14);
}

li.colour-classical {
  color: rgb(188, 189, 34);
}

li.colour-country {
  color: rgb(44, 160, 44);
}

li.colour-hip-hop {
  color: rgb(23, 190, 207);
}

li.colour-jazz {
  color: rgb(31, 119, 180);
}

li.colour-pop {
  color: rgb(148, 103, 189);
}

li.colour-rb {
  color: rgb(127, 127, 127);
}

li.colour-singer-songwriter {
  color: rgb(227, 119, 194);
}

li.colour-rock {
  color: rgb(140, 86, 75);
}

tr.colour-alternative {
  background-color: rgb(214, 39, 40);
}

tr.colour-blues {
  background-color: rgb(255, 127, 14);
}

tr.colour-classical {
  background-color: rgb(188, 189, 34);
}

tr.colour-country {
  background-color: rgb(44, 160, 44);
}

tr.colour-hip-hop {
  background-color: rgb(23, 190, 207);
}

tr.colour-jazz {
  background-color: rgb(31, 119, 180);
}

tr.colour-pop {
  background-color: rgb(148, 103, 189);
}

tr.colour-rb {
  background-color: rgb(127, 127, 127);
}

tr.colour-singer-songwriter {
  background-color: rgb(227, 119, 194);
}

tr.colour-rock {
  background-color: rgb(140, 86, 75);
}