// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.leaderboard-header {
  background-color: green;
}

.leaderboard-me {
  background-color: magenta;
}

.leaderboard-leaders {
  background-color: yellow;
}

.leaderboard-average {
  background-color: orange;
}

.div-balls {
  text-align: center;
  font-size: 1.25em;
}

.colour-alternative {
  color: rgb(214, 39, 40);
}

.colour-blues {
  color: rgb(255, 127, 14);
}

.colour-classical {
  color: rgb(188, 189, 34);
}

.colour-country {
  color: rgb(44, 160, 44);
}

.colour-hip-hop {
  color: rgb(23, 190, 207);
}

.colour-jazz {
  color: rgb(31, 119, 180);
}

.colour-pop {
  color: rgb(148, 103, 189);
}

.colour-rb {
  color: rgb(127, 127, 127);
}

.colour-singer-songwriter {
  color: rgb(227, 119, 194);
}

.colour-rock {
  color: rgb(140, 86, 75);
}