div.team {
  padding-bottom: 25px;
}

h1.team {
  color: #444444;
  font-size: 3em;
  text-align: center;
  // margin: 15px;
}

div.about {
  color: #efefef;
  margin-top: 40px;
  background-color: #428bca;
  padding: 10px;
  height: 400px;

}

h2.about {
  font-weight: 500;
  font-size: 1.8em;
  margin-top: 10px;
  margin-bottom: 5px;
}

h3.about {
  font-size: 1.3em;
  font-weight: 400;
  margin-top: 5px;
}

p.about {
  font-size: 1em;
  text-align: justify;
}