div.team {
  // padding-bottom: 25px;
}


h1.team {
  color: #444444;
  font-size: 3em;
  text-align: center;
  // margin: 15px;
}

div.about {
  // background-color: rgba(0,0,0,.5);
  color: #efefef;

  margin-top: 40px;
  background-color: #c60b15;
  padding: 10px;
  height: 400px;

  // z-index: 1;
  // box-shadow: 0 0 40px #111111;
  overflow: hidden;
  // margin-top: 40px;
  // background-color: #c60b15;
  background-color: rgba(198, 11, 21, 0.7);
  padding: 30px;
  height: 450px;

}

h2.about {
  // font-weight: 500;
  font-size: 1.8em;
  // margin-top: 10px;
  margin-bottom: 1.3px;
}

h3.about {
  font-size: 1.3em;
  // font-weight: 400;
  margin-top: 1.3px;
  margin-bottom: 7px;
}

p.about {
  font-size: 1em;
  // text-align: justify;
}


.leaderboard-table {
  background-color: #aaa;
}

// #blurry{
//   content: "";

//   position: fixed;
//   left: 0;
//   right: 0;
//   z-index: -1;
//   // display: block;
//   // background-image: image-url("black.jpg");
//   opacity: 0.5;
//     // background-size: cover;
//     // background-attachment: fixed;
//     // background-position: center;

//   filter: blur(5px);
//   // z-index: -1; background-size: cover;
//   height: 450px;
//   overflow: hidden;
//   width: 100%;
//   // height: 100%;

//   -webkit-filter: blur(2px);
//   -moz-filter: blur(30px);
//   -o-filter: blur(30px);
//   -ms-filter: blur(30px);
//   filter: blur(30px);

//     /* IMPORTANT - FORCES HARDWARE ACCELERATION */
//     -webkit-transform: translate3d(0, 0, 0) ;
//     -moz-transform: translate3d(0, 0, 0) ;
//     -o-transform: translate3d(0, 0, 0) ;
//     -ms-transform: translate3d(0, 0, 0) ;
//     transform: translate3d(0, 0, 0) ;
//   }

//   #blurry {
//     z-index: 0;
//     position: fixed;
//     left: 0;
//     right: 0;
//   }

  #teamPic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
