/*BACKGROUND WILL CHANGE FOR EACH SONG*/

/*PLAYER STYLING*/
#player {
  background-color: rgba(0,0,0,.5);
  border: 1px solid #111111;
  padding: 0;
  color: #ffffff;
  box-shadow: 0 0 40px #111111;
  overflow: hidden;
  margin-top: 25px;
}

#player img {
  width: 100%;
  height: 100%;
  opacity: .0;
}

#question1, #question2, #question3, #results {
  display: none;
}

.questions {
  position: absolute;
  top: 5vh;
  z-index: 1;
  color: #efefef;
}

.questions h2 {
  font-size: 2em;
  font-weight: 400;
  text-shadow: 0 0 4px #555555;
}

.questions h3 {
  font-weight: 400;
  font-size: 1.4em;
  text-shadow: 0 0 4px #555555;
}

.questions button, .questions a {
  width: 100%;
  display: block;
  padding: 10px 5px;
  margin: 5px 0;
  font-size: 1.2em;
  letter-spacing: -.5px;
  opacity: .9;
}

#results {
  background-color: rgba(50,50,50,.5);
  border-radius: 10px;
  padding-bottom: 16px;
}

.underscore {
  font-family: helvetica, sans-serif;
}

.audiojs audio { position: absolute; left: -1px; }
div.audiojs { width: 100%; height: 36px; overflow: hidden; font-family: monospace; font-size: 12px;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
  .audiojs .play-pause { width: 40px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #222222; }

  .audiojs p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
  .audiojs .play { display: block; }

  .audiojs .scrubber { position: relative; float: left; width: 50%; background: #111111; height: 14px; margin: 10px; border-left: 0px; border-bottom: 0px; overflow: hidden; }

  .audiojs .progress { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #efefef; z-index: 1; border-radius: 0;}
  .audiojs .loaded { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #888888;}

  .audiojs .time { float: left; height: 36px; line-height: 36px; margin: 0px 6px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #222222; color: #efefef; text-shadow: 1px 1px 0px rgba(20, 20, 20, 0.5); }

  .audiojs .time em { padding: 0px 2px 0px 0px; color: #efefef; font-style: normal; }
  .audiojs .time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
  .audiojs .error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
    text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
    .audiojs .error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

    .audiojs .play { background: url('player-graphics.gif') -2px -1px no-repeat; }
    .audiojs .loading { background: url('player-graphics.gif') -2px -31px no-repeat; }
    .audiojs .error { background: url('player-graphics.gif') -2px -61px no-repeat; }
    .audiojs .pause { background: url('player-graphics.gif') -2px -91px no-repeat; }

    .playing .play, .playing .loading, .playing .error { display: none; }
    .playing .pause { display: block; }

    .loading .play, .loading .pause, .loading .error { display: none; }
    .loading .loading { display: block; }

    .error .time, .error .play, .error .pause, .error .scrubber, .error .loading { display: none; }
    .error .error { display: block; }
    .error .play-pause p { cursor: auto; }
    .error .error-message { display: block; }
