// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


input[type='checkbox'] {
  width: 15px;
  height: 15px;
}

div.modal-body a {
  color: #c60b15;
}
div.modal-body a:hover {
  color: #B20912;
}

// LISTEN LIST
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.favhead {
  color: #000000;
}

.itunes {
  background-color: #3381d4;
  color: white;
  padding: 1px 6px;
  border: 1px solid #cccccc;
  margin-left: 0px;
  margin-right: 0px;
}
.itunes:hover {
  color: white;
  background-color: #2867A9;
  border: 1px solid #cccccc;
}

.x {
  padding: 1px 6px;
  margin-left: 0px;
  margin-right: 0px;
}

.facebook-small {
  width: 16px;
  height: 16px;
  border-radius: 4px;
}